<section class="bg-main-light p-4 rounded-3 shadow my-4 w-75 mx-auto">
  <form [formGroup]="checkout" (submit)="handelForm()">
    <div>
      <label for="details" class="mb-2">Details:</label>
      <textarea
        name=""
        id="details"
        cols="10"
        rows="5"
        class="form-control"
        formControlName="details"
      ></textarea>
    </div>

    <div class="my-3">
      <label for="phone" class="mb-2">Phone:</label>
      <input
        id="phone"
        type="tel"
        class="form-control"
        formControlName="phone"
      />
    </div>

    <div>
      <label for="city" class="mb-2">City:</label>
      <input
        id="city"
        type="text"
        class="form-control"
        formControlName="city"
      />
    </div>

    <button class="btn-main mt-3">CheckOut</button>
  </form>
</section>
